[2022-03-11 09:36] vivekweb2013 opened #1 "Bootstrap a go module initialised with cobra"

[2022-03-11 09:48] vivekweb2013 commented on #1
Bootstrap done with commit bc785a3785b62cf478e560cabf19ecfba4179fc0

[2022-03-11 09:48] #1 closed

[2022-03-11 16:56] vivekweb2013 opened #2 "Load config with viper and enviper"
We can use [viper](https://github.com/spf13/viper) for loading configuration from file/environment but the problem is that viper requires the Config struct fields to be tagged with `mapstructure` which looks ugly and is a maintenance headache

So the solution is to use [enviper](https://github.com/iamolegga/enviper) which is a wrapper on [viper](https://github.com/spf13/viper) which does not requi

[2022-03-11 16:58] vivekweb2013 commented on #2
Implemented with commit 1da71689da5ac0d54959d564d2b8943f51711141

[2022-03-11 16:58] #2 closed

[2022-03-13 14:26] vivekweb2013 opened #3 "Support db migration through cobra command"
Since the database config is already parsed with cobra initialisation, It would be easy to also run the migration with cobra command instead of running migration separately outside the application & passing the configuration repeatedly.

[2022-03-13 14:27] vivekweb2013 opened #4 "Add support for docker image"

[2022-03-13 14:27] vivekweb2013 opened #5 "Setup github workflow"

[2022-03-13 14:28] vivekweb2013 opened #6 "Create helm chart"

[2022-03-13 14:29] vivekweb2013 opened #7 "Support user authentication with oAuth (Sign in with github)"

[2022-03-14 12:34] vivekweb2013 commented on #3
Done

[2022-03-14 12:34] #3 closed

[2022-03-15 06:04] vivekweb2013 commented on #4
Done

[2022-03-15 06:04] #4 closed

[2022-03-15 06:05] vivekweb2013 opened #8 "Create react frontend"

[2022-03-19 03:04] vivekweb2013 opened #9 "create-react-app proxy does not work with document type requests"
I've configured the react application to proxy backend api requests using following configuration in `package.json` file
[code]

but it seems that only ajax calls are proxied. Since the application has oAuth sign in flow some of the non ajax calls also need to proxied.

The solution is to manually configure the proxy with `http-proxy-middleware` as suggested by https://create-react-app.dev/docs/pr

[2022-03-19 03:10] vivekweb2013 commented on #9
Fixed by installing `http-proxy-middleware` and configuring proxy manually. The non ajax calls are now being redirected correctly to the backend api

Note: Remove the proxy configuration from `package.json` file before configuring it manually with `http-proxy-middleware` otherwise the proxy won't work correctly if defined at both the places

[2022-03-19 03:10] #9 closed

[2022-03-23 04:27] vivekweb2013 opened #10 "gin - problem accessing url-encoded path-param containing forward slash"
Resolved by configuring below options with gin router
[code]

Reference - https://stackoverflow.com/questions/71581828/gin-problem-accessing-url-encoded-path-param-containing-forward-slash/71581829#71581829

[2022-03-23 04:28] #10 closed

[2022-03-29 16:11] vivekweb2013 opened #11 "Scrollbar is automatically disappearing on macos when not scrolling"
It seems that this is an os specific behaviour. The appearance of scrollbar can be controlled setting system preference on macos (`System Preferences > General > Show scroll bars`) to `Always`

But with this it will only affect the single user's machine. Also this will reserve the scrollbar space making ui look much ugly.

The workaround is to use WebKit's `-webkit-scrollbar` pseudo-elements to cr

[2022-03-29 16:11] #11 closed

[2022-03-31 16:07] vivekweb2013 opened #12 "Design a path autocomplete input component using mui components"
Since the repo file tree is fetched every time the main page is loaded, It is possible to design the autocomplete input which will help users select a path quickly while creating a new note.

The component should -

- filter the tree at current path and prompt user about next dirs available
- user should able to delete the dirs in path using backspace
- user should be able to type a manual path
-

[2022-03-31 16:36] vivekweb2013 opened #13 "Note editor should show preview of the markdown"
The editor should allow users to preview the markdown. Similar to how github/stackoverflow has a preview tab which renders the markdown.

Check if there is any lightweight library for react that can be used to build this functionality.

[2022-03-31 17:46] vivekweb2013 commented on #12
Done

[2022-03-31 17:46] #12 closed

[2022-03-31 17:46] #8 closed

[2022-03-31 17:46] vivekweb2013 commented on #5
Done

[2022-03-31 17:46] #5 closed

[2022-03-31 17:47] vivekweb2013 commented on #7
Done

[2022-03-31 17:47] #7 closed

[2022-04-01 10:06] vivekweb2013 opened #14 "Inconsistent results with javascript regex test"
The following piece of code sometimes returns `true` and sometimes returns `false` if invoked again
[code]

The issue seems to be the global(`g`) flag which matches the next occurrence on every execution causing the inconsistent result.
The solution is to remove the global flag.

[2022-04-01 10:06] #14 closed

[2022-04-01 18:45] vivekweb2013 opened #15 "UI tests failing after adding react-markdown"
Tests failing with below error
[code]

This is happening because react-markdown is using ESM which is not supported by jest.
[https://github.com/remarkjs/react-markdown/issues/635](https://github.com/remarkjs/react-markdown/issues/635)

The easy solution would be to create the mocks for react markdown

[2022-04-01 18:49] vivekweb2013 commented on #15
- Renamed `setupTests.ts` to `setupTests.tsx`
- Updated `tsconfig.json` with path to `setupTests.tsx`
[code]
- Updated setupTests.tsx with mocks as bleow
[code]

[2022-04-01 18:49] #15 closed

[2022-04-01 18:53] vivekweb2013 opened #16 "Implement the functionality to edit an existing note"
The card should show an edit button on click of which the editor should launch with the form pre-filled with existing note.
The note should be updated on save.

[2022-04-01 18:58] vivekweb2013 opened #17 "Design a ui component to show the full note"
This view should be launched on click of card
There should be no inputs/edit functionality. Its just shows the note

[2022-04-01 19:01] vivekweb2013 opened #18 "The sidebar tree should show icons for note and directory"

[2022-04-01 19:02] vivekweb2013 opened #19 "Show icons for creating a new notes on each dir from sidebar tree on hover"

[2022-04-01 19:04] vivekweb2013 commented on #13
Added [react-markdown-editor-lite](https://www.npmjs.com/package/react-markdown-editor-lite) to provide markdown editing and preview features

[2022-04-01 19:04] #13 closed

[2022-04-01 19:06] vivekweb2013 opened #20 "UI should present any errors occurred during any user action"

[2022-04-01 19:08] vivekweb2013 opened #21 "Create & add an icon, favicon to gitnoter project"

[2022-04-01 19:09] vivekweb2013 opened #22 "Add support for keyboard shortcuts for actions like save, copy etc"

[2022-04-02 11:42] vivekweb2013 opened #23 "Make routes protected with react"
If the user is not currently logged the protected views should not be visible

[2022-04-03 05:21] vivekweb2013 opened #24 "Implement copy button on code section of markdown preview"
react-markdown does not show any copy button on the code section.
But it does provide the option to override code component.

Implement a custom code component which shows a copy button at the top right of code section which should copy the containing code on click

[2022-04-03 05:21] vivekweb2013 commented on #24
Done

[2022-04-03 05:21] #24 closed

[2022-04-03 05:22] vivekweb2013 commented on #18
Done

[2022-04-03 05:22] #18 closed

[2022-04-03 05:23] vivekweb2013 commented on #16
Done

[2022-04-03 05:23] #16 closed

[2022-04-03 17:35] vivekweb2013 opened #25 "Show confirmation dialog on delete"

[2022-04-04 07:59] vivekweb2013 commented on #25
Done

[2022-04-04 07:59] #25 closed

[2022-04-04 08:04] vivekweb2013 commented on #19
Done

[2022-04-04 08:04] #19 closed

[2022-04-04 09:52] vivekweb2013 opened #26 "Provide option to search note by title in the sidebar"
since we have the tree in sidebar it is possible to filter the tree on title(filename)
provide a search input on top and filter the tree with the search result

[2022-04-05 05:27] vivekweb2013 commented on #17
Done

[2022-04-05 05:27] #17 closed

[2022-04-05 12:20] vivekweb2013 commented on #21
Done

[2022-04-05 12:20] #21 closed

[2022-04-08 09:46] vivekweb2013 commented on #6
Done

[2022-04-08 09:46] #6 closed

[2022-04-08 09:51] vivekweb2013 opened #27 "Create a deployment workflow to deploy the application to k8s cluster"
Create a deployment workflow to deploy app to k8s cluster on push events to main branch.
The deployment workflow should use the helm charts for deployment.

Create a github environment `Production` and run the deployment job in context of this environment.
The kubernetes secrets should be stored as environment secrets under `Production` environment.
The deployment workflow should be dependent on b

[2022-04-08 12:33] vivekweb2013 opened #28 "UI fails to load on safari due to regex error"
The error is
[code]

It seems that safari does not support lookbehinds like `(?<= )` or `(?<! )` since the support for lookbehinds is recently finalised for javascript under ECMA-262(ECMAScript 11) specification. [See this.
](https://stackoverflow.com/questions/3569104/positive-look-behind-in-javascript-regular-expression/3569116#3569116)

[https://caniuse.com/js-regexp-lookbehind](https://caniuse

[2022-04-08 12:42] vivekweb2013 commented on #28
Updated regex from [https://regex101.com/r/nEUpiR/1](https://regex101.com/r/nEUpiR/1) to [https://regex101.com/r/ArSQor/1](https://regex101.com/r/ArSQor/1)

Done

[2022-04-08 12:42] #28 closed

[2022-04-08 13:08] vivekweb2013 opened #29 "Helm upgrade does not recreate pod with latest image even if imagePullPolicy is set to Always"
It seems that helm upgrade will roll out changes to kubernetes objects only if there are changes to roll out. i.e when the object is changed in the helm chart files. It will not recreate the pods just because the image is update. To be able to recreate the pod you will need to update the chart and specify some tag to the image in the chart which refers to the latest image and the tag should be new

[2022-04-08 13:37] vivekweb2013 commented on #29
Done

[2022-04-08 13:37] #29 closed

[2022-04-08 14:21] vivekweb2013 opened #30 "Remove empty parent directories from tree view on deleting a note"
Lets say the note tree is as below
[code]

When the user deletes `note1` then `dir3` and `dir2` should also be removed. Since they will be empty otherwise and has no use. Even git also removes the empty directories. So it is better to delete the empty parents on deleting a note.

The algorithm for deleting tree node should handle this scenario.

[2022-04-08 14:24] vivekweb2013 commented on #30
Done

[2022-04-08 14:24] #30 closed

[2022-04-08 14:58] vivekweb2013 opened #31 "Running out of icons. Find an icon library"
Wanted to use an icon for `branch` but there is no related icon in mui icons library.

MUI [suggests](https://mui.com/components/icons/#other-libraries) using [mdi-material-ui](https://github.com/TeamWertarbyte/mdi-material-ui) library for additional icons. It has 2000+ icons.

So add this library in the project.

It has the icon for branch. Enjoy :)

[2022-04-09 05:30] vivekweb2013 opened #32 "Add a feature to auto setup the repository on new user login"
For new user logins, The ui should present an option for automatically setting up the notes repository. Also allow him to select existing notes repository manually if he wishes to.

The auto setup option should create a new repository in user's github account and store it as default notes repo for user.

This should enhance the user experience since otherwise new users would select irrelevant exis

[2022-04-10 07:20] vivekweb2013 opened #33 "Show a loading indicator when api is in progress"
The UI should show a loading indicator(something like spinner etc) on a view which has incomplete API call.

[2022-04-10 07:20] vivekweb2013 commented on #31
Done

[2022-04-10 07:20] #31 closed

[2022-04-10 07:21] vivekweb2013 commented on #27
Done

[2022-04-10 07:21] #27 closed

[2022-04-10 07:21] vivekweb2013 commented on #32
Done

[2022-04-10 07:21] #32 closed

[2022-04-10 07:22] vivekweb2013 commented on #20
Error's are being shown using `Alert` MUI component on top of the respective view.

Done

[2022-04-10 07:22] #20 closed

[2022-04-10 07:23] vivekweb2013 commented on #33
Done

[2022-04-10 07:23] #33 closed

[2022-04-10 16:04] vivekweb2013 opened #34 "Create a GIF to showcase the project features"
GIF is very useful in demoing the project feature.

[https://github.blog/2018-06-29-gif-that-keeps-on-gifing/](https://github.blog/2018-06-29-gif-that-keeps-on-gifing/)

Create one for gitnoter

[2022-04-10 16:54] vivekweb2013 opened #35 "Create a login view and redirect unauthenticated users to it"
The login view should provide a button to allow login with github provider.

It would be better to right align the login button view and use most of the screen at left side to show user a GIF animation of app features.

[2022-04-11 14:01] vivekweb2013 commented on #23
Created a login view and redirecting unauthenticated requests login view with protected routes.

Done

[2022-04-11 14:02] vivekweb2013 commented on #35
Done. Showing demo GIF on login page will be implemented with separate issue.

[2022-04-11 14:02] #35 closed

[2022-04-11 19:33] vivekweb2013 opened #36 "Login failing for user with public email protected in their github account"
Some users set their public email visibility to "Don't show my email address" as shown in below picture.

![image](https://user-images.githubusercontent.com/7036736/162814774-a8c7819c-e55e-48fb-a9a6-6bd5cf740640.png)

The call to `/user` only returns the public email address, so if the user doesn't want it shown, the API will respect that. So even if you have set the email scope, the returned user

[2022-04-13 08:44] vivekweb2013 commented on #36
Done

[2022-04-13 08:44] #36 closed

[2022-04-13 08:44] vivekweb2013 commented on #34
Done

[2022-04-13 08:44] #34 closed

[2022-04-14 12:31] phipsitn opened #37 "Instructions for implementing in GitHub Enterprise Instance"
Do you have instructions or an idea what changes would need to be made to implement using this on an Enterprise GitHub instance?

[2022-04-15 08:59] vivekweb2013 commented on #37
This is not supported currently. Although implementing the support for GitHub enterprise would not be much of an effort. It is just that I do not have the enterprise set up to test the changes. But I'll look into possible alternatives to test the changes.

[2022-04-16 02:08] PythonCoderAS opened #38 "something went wrong. contact support"
I am trying to use the site, and I used the auto repository creator. I go to make a very simple note, and I get "something went wrong. contact support."

Note title: HelloWorld
Note Content:

![Image](https://user-images.githubusercontent.com/13932583/163657558-2f7c8367-3267-430e-9e01-fbba63b65700.png)

[2022-04-16 03:08] vivekweb2013 commented on #38
Please check if there is already a note with `HelloWorld` in the root path

[2022-04-16 04:07] PythonCoderAS commented on #38
There is nothing. It's a brand new repository. It has no files.

[2022-04-16 04:13] vivekweb2013 commented on #38
Strange. Could you please try the below things.
- Log off. clear cache. log in & try again. If it fails again try the below step
- Click on the `profile > settings > change notes repository` then select any other repo and save

Let me know if it still presents the same error.

[2022-04-16 05:58] Dairy-Farming commented on #38
Getting the same issue. Something went wrong. Contact support. Tried another repository. Tried using different names for Note Title. Tried on different browsers. No luck

[2022-04-16 07:18] vivekweb2013 commented on #38
I've checked the backed for and it seems that there is some issue with your repository. The below error is logged
[code]

Are you sure you have the `notes` repository with branch `main` inside it. It could happen that after setting up the repo you have deleted it from your account.

[2022-04-16 07:47] vivekweb2013 opened #39 "Fix the error message. Ask user to create an issue instead of asking them to contact support"
The error shown in case of internal server error is like below
[code]

This is an open source project & We have no support team :)

So instead of this error message simply ask user to create an issue in this repository.

[2022-04-16 11:24] PythonCoderAS commented on #38
Oh here is where the error starts. I defined my account to use master as the default branch.

[2022-04-17 03:39] vivekweb2013 opened #40 "On settings view, show email if the user's name field is empty"
The settings component shows the user details including user's name, location etc but the user's name field can be empty for some user's

In such case we should show the email which is always available.

Refer below file for the changes
[https://github.com/vivekweb2013/gitnoter/blob/main/frontend/src/components/Settings.tsx](https://github.com/vivekweb2013/gitnoter/blob/main/frontend/src/component

[2022-04-17 03:53] ritikBhandari commented on #40
Him
Can I take up this issue?

[2022-04-17 03:54] vivekweb2013 commented on #40
Sure

[2022-04-19 14:50] spartan4cs opened #41 "something went worng"
![image](https://user-images.githubusercontent.com/23625985/164032023-d2172d0d-4f82-43a1-978b-8bc3adb8918d.png)

There is private repo getting created with master branch

[2022-04-19 14:50] spartan4cs commented on #38
![image](https://user-images.githubusercontent.com/23625985/164032227-9213578d-2ccb-422d-8ee0-eed1971cf0fe.png)

[2022-04-19 17:54] PythonCoderAS commented on #38
I am aware this is an option. I am saying that it would be better if gitnoter could automatically find the default branch, or at least mention that a main branch has to exist.

[2022-04-19 18:56] vivekweb2013 commented on #38
yeah right. I'm working on the fix

[2022-04-20 06:09] schnitzelaufzug commented on #38
Same issue, with default branch main. Any suggestions?

[2022-04-20 06:20] vivekweb2013 commented on #38
@schnitzelaufzug @PythonCoderAS @Dairy-Farming

I've just fixed the issue. Could you please try deleting the `notes` repo. Login to gitnoter and use setup repo automatically option.

GitNoter will now fetch the default branch of the repository and use it instead of defaulting to `main` branch.

[2022-04-20 06:26] schnitzelaufzug commented on #38
Same issue

[2022-04-20 06:36] vivekweb2013 commented on #38
Could you please let me know if you have deleted the notes repo before automatic setup. Also please check and let me know the branch name of the notes repo. Is it the master branch?

[2022-04-20 06:39] schnitzelaufzug commented on #38
The branch name is main and i deleted the old one and automatically created a new one again.

[2022-04-20 06:41] vivekweb2013 commented on #38
Then I think it should not cause any error. What error are you getting? Could you please try in incognito mode. I'm not able to reproduce this issue.

[2022-04-20 06:44] schnitzelaufzug commented on #38
Same error in incognito.
Error message: "something went wrong. contact support"

[2022-04-20 06:44] schnitzelaufzug commented on #38
Can u see the logs?

[2022-04-20 06:51] vivekweb2013 commented on #38
Strange. I'm getting below error
[code]

I'm investigating the issue

[2022-04-20 07:19] vivekweb2013 commented on #38
Fixed. Please try now

[2022-04-20 08:19] schnitzelaufzug commented on #38
awsome, works!

[2022-04-20 08:36] #38 closed

[2022-04-20 09:32] vivekweb2013 opened #42 "Write unit tests to cover GetNotesTree handler"
Write unit tests (golang) to cover GetNotesTree handler methods

Reference files

[https://github.com/vivekweb2013/gitnoter/blob/main/backend/internal/httpservice/note.go](https://github.com/vivekweb2013/gitnoter/blob/main/backend/internal/httpservice/note.go)
[https://github.com/vivekweb2013/gitnoter/blob/main/backend/internal/httpservice/note_test.go](https://github.com/vivekweb2013/gitnoter/blo

[2022-04-20 12:34] vivekweb2013 commented on #39
Fixed

[2022-04-20 12:34] #39 closed

[2022-04-20 13:59] PythonCoderAS commented on #38
Works for me!

[2022-04-20 16:15] vivekweb2013 opened #44 "Navigate to home page on clicking gitnoter title in header"
User should be navigated to the home page when clicked on gitnoter title on the top left side of nav bar.

[2022-04-20 17:11] vivekweb2013 opened #45 "Design a 404 page not found view inside react frontend"
If the user visits a link for which there is no route defined, then we should show a 404 page not found view.

As a part of this task

- Create a new 404 component
- Add a 404 route at the end of all routes which matches all the paths. This route should render the 404 view.

[2022-04-30 05:44] vivekweb2013 commented on #40
Done

[2022-04-30 05:44] #40 closed

[2022-04-30 06:22] raghav-wd opened #47 "Markdown editor, should take up full width and height"
## Current UI
![image](https://user-images.githubusercontent.com/41248639/166093554-2d82e596-465e-482a-9b47-7ed2ee9935f9.png)

## Proposed UI
![image](https://user-images.githubusercontent.com/41248639/166093957-6b65c886-9a1d-4f52-a78e-c61e2ec1ec73.png)

## Why?
Since, the sole purpose of application is to take notes (usually few pages long), the 'Proposed UI' provides a better view to user when e

[2022-04-30 07:31] vivekweb2013 commented on #47
Agree. I did not know that the editor view looks this small on high resolution screens. Thanks for opening the issue. Would you like to work on this? or shall I take this one.

[2022-04-30 07:40] raghav-wd commented on #47
Give me this week's time, I'll try to do it. I need to know do I have to run backend as well to make the mentioned changes?

[2022-04-30 08:09] vivekweb2013 commented on #47
Sure, take your time. Yes the backend needs to be started in order to access editor view in frontend. Please refer the readme file from backend folder.

I'm now feeling that starting backend for just the frontend changes would be an overhead. Please give me some time to check if I can remove this pre-requisite using some proxy or something...

I'll keep you posted in this thread.

[2022-04-30 09:13] raghav-wd commented on #47
Sure, thanks for your efforts!

[2022-04-30 14:26] vivekweb2013 commented on #47
@raghav-wd I've added the steps to run frontend app without running backend module locally. The trick is to use staging api-server instead of starting and using the local backend server.

Please refer - https://github.com/vivekweb2013/gitnoter/tree/main/frontend#running-the-frontend-module-locally

Let me know if you face any issues. I'd appreciate your contribution to this project.

[2022-04-30 14:48] raghav-wd commented on #47
Hey, I was able to run the frontend, but there's this issue with `github oauth` when trying to login

![image](https://user-images.githubusercontent.com/41248639/166110348-de1ea24c-2495-436d-9936-2dbfaa22935d.png)

[2022-04-30 16:04] vivekweb2013 commented on #47
Fixed. Please try now. The staging db was down for some reason. I've fixed it now. Please try and let me know if it still doesn't work.

[2022-05-01 08:14] vivekweb2013 commented on #47
Thanks @raghav-wd for the contribution.
The changes are deployed to production. [See here](https://github.com/vivekweb2013/gitnoter/actions/runs/2252743778)

[2022-05-01 09:22] #47 closed

[2022-05-10 15:08] vivekweb2013 opened #49 "Show warning if user has selected public repository instead private for storing notes"
There is no restriction on using a public repository for storing notes. But user should be prompted with a warning saying the repository is public and their notes could be accessible publicly when they choose to use a public repo for storing notes.

This is is requires only frontend changes.

[2022-05-18 10:01] shikhar13012001 commented on #45
I would like to work on this issue. @vivekweb2013

[2022-05-18 10:10] vivekweb2013 commented on #45
Sure @shikhar13012001
Let me know if you face any issue

[2022-05-18 10:26] vivekweb2013 commented on #45
@shikhar13012001 Please refer this readme for instruction on how to run the frontend app locally
https://github.com/vivekweb2013/gitnoter/blob/main/frontend/README.md

[2022-05-19 05:02] omegaui commented on #49
@vivekweb2013

Take a look at [GitHub's Rest API](https://docs.github.com/en/rest/repos) to obtain the JSON codec list of public repositories.

[2022-05-19 05:17] vivekweb2013 commented on #49
@omegaui the type of repository is already there in gitnoter repositories response payload. This ticket is about showing the warning on UI if the user selects public repository.

[2022-05-19 05:57] omegaui commented on #49
I noticed that already,
I don't know go that much to contribute code,
Just wanted to tell the starting point.
Anyways awesome project.

[2022-05-19 06:08] omegaui opened #50 "GitHub Flavoured UI"
The Application will look more impactful if the UI elements follow GitHub's Styling.

[2022-05-19 06:57] vivekweb2013 commented on #50
Agree. Thanks for creating the issue. Would you like to work on this? You can simply run the frontend react application by referring to the instructions mentioned in this [readme file](https://github.com/vivekweb2013/gitnoter/blob/main/frontend/README.md).

[2022-05-19 06:59] omegaui commented on #50
If this can be achieved just by editing the CSS files then, I'll love to implement it.

[2022-05-19 07:05] vivekweb2013 commented on #50
yes. you can create and include the scss files or if you want you can also add stylings inline to the component. I'm using [MUI components](https://mui.com/material-ui/getting-started/usage/) and it provides several ways to style a component.

[2022-05-21 04:56] shikhar13012001 commented on #45
Hi @vivekweb2013 I have made the 404 page
![image](https://user-images.githubusercontent.com/75368010/169636019-e4683dc3-14e9-4367-a2e8-6308aba37437.png)
I have made the PR for the same, please review and let me know if you require any changes

[2022-05-21 05:30] vivekweb2013 commented on #45
wow this is awesome 🤩 . Thanks so much. It looks great!
I'd just like to suggest just one minor change. Please amend the commit message from "Added 404 page" to "Add 404 page". IMO a good commit message should use the imperative, present tense. It is easier to read and scan quickly :)

[2022-05-21 08:03] cool-pants commented on #50
Is someone working on this? If not, I would love to pick it up..

[2022-05-21 08:18] omegaui commented on #50
@cool-pants

Go Ahead for sure!

Currently my college Unit Test are about to begin,
So I won't be able to start until the next Saturday.

In short,
Give it a hit.

[2022-05-21 09:47] shikhar13012001 commented on #45
@vivekweb2013  yeah sure I make the commit message change

[2022-05-21 10:19] vivekweb2013 commented on #45
@shikhar13012001 thanks let me know once you push the changes. I'll merge this pr and we can then test it on production.

[2022-05-21 14:50] vivekweb2013 commented on #45
@shikhar13012001 I think I messed up something with the force push to your repository :( and I'm not able to revert it.
if you have **issue#45** branch checked out locally please force push it.

[2022-05-21 15:11] vivekweb2013 commented on #45
@shikhar13012001 fixed it. I've cherry picked the commit and amended the commit message. Pushed the changes to production. Please check [https://gitnoter.com](https://gitnoter.com)

Thanks so much for the contribution :)

[2022-05-22 03:19] #45 closed

[2022-05-22 09:08] Senor-Ducky commented on #50
Hey Vivek, do you mind if i start working on this?

[2022-05-22 09:18] vivekweb2013 commented on #50
yeah sure. @cool-pants are you working on this? if not I think @Senor-Ducky can start working on this

[2022-05-22 10:25] andrei-io commented on #50
Hello! I suggest using the already made CSS library made by Github @cool-pants @Senor-Ducky @vivekweb2013
https://github.com/primer/css

[2022-05-22 10:27] Senor-Ducky commented on #50
sure thing!

[2022-05-22 11:39] #44 closed

[2022-05-22 11:48] vivekweb2013 commented on #44
@Senor-Ducky The changes are deployed to [production](https://gitnoter.com). Thanks for contributing!

[2022-05-22 12:32] cool-pants commented on #50
Well i have started the work, and done most of it. @Senor-Ducky sorry for the late reply.

[2022-05-22 12:41] vivekweb2013 commented on #50
@cool-pants okay please continue.
Hey @Senor-Ducky. Could you please pick [issue 49](https://github.com/vivekweb2013/gitnoter/issues/49) instead.

[2022-05-23 09:22] vivekweb2013 opened #53 "UI design proposal for showing note revisions"
Since we store notes inside git repository. So we can build a functionality to show revisions of the note by fetching historical commits data and allow user to revert to a specific revision. This would be a great addition to GitNoter

This issue is just about proposing the ui, i.e. we use this issue to share ideas/mockups/wireframes that shows revisions of a specific note and allow selecting the r

[2022-05-23 09:27] vivekweb2013 commented on #53
Confluence uses the following interface to list the revisions
![confluence-ui](https://confluence.atlassian.com/doc/files/139379/858771846/152/1649140780673/PageHistory_CollabEditing.png)

We can build something like this?
Any other ideas are welcome 🤗

[2022-05-23 14:27] #42 closed

[2022-05-28 08:21] spartan4cs opened #54 "OPtion to expand the textbox to full page"
**Is your feature request related to a problem? Please describe.**
I'm finding it difficult note down data in small text box

**Describe the solution you'd like**
like to expand the markdown box to full page and give the option for expanding
![image](https://user-images.githubusercontent.com/23625985/170817165-2fe250fa-5dd1-4c2c-baa9-528acd9370fd.png)

[2022-05-28 08:27] spartan4cs opened #55 "Drag and drop option to move the page from 1 folder to other"
**Is your feature request related to a problem? Please describe.**
changing of path is tedious when organizing your notes

**Describe the solution you'd like**
easyily moving the page from 1 folder to other by drag and drop

[2022-05-28 08:54] vivekweb2013 commented on #54
Agree, this could be a good enhancement.

[2022-05-28 08:56] vivekweb2013 commented on #55
yes this feature would make organising notes more easier and will greatly improve user experience.

[2022-06-01 13:07] squirrelboot opened #56 "PDF?"
Can gitnoter work with PDF files? One thing I use a lot with Evernote are PDFs.
I would love to get away from their monthly fees just to house my PDF files. Also really nice that I can search within PDF files for references when searching notes.

[2022-06-01 13:52] 12nick12 opened #57 "Non github user"
Can you add support to use our own custom git server. I use gitea (will be migrating to gitlab) and would love to be able to use my own server for the notes and auth.

[2022-06-01 14:24] jamiew0w opened #58 "[feature request] Dark mode"
Hello!

It would be great if we could have an option for dark mode, preferably a permanent option/setting rather than a toggle (but that part is my own preference).

Thanks!

[2022-06-01 22:30] Slyke opened #59 "[Feature] Gitea and other private repos"
Add in the ability to setup gitnoter with 3rd party git services, such as Gitea.

[2022-06-02 04:24] tallship commented on #59
### Adding native Gitea support to GitNoter:

Thanks for your quick response in adding the enhancement tag on this project @vivekweb2013 :)

Adding **Gitea** support is of invaluable import, since GitHub is not actually a very trusted forge for most FOSS and Privacy oriented individuals and corporations.

Whereas git-noter is **FOSS**, and so is Gitea, GitHub is not, and although it is a great clo

[2022-06-02 04:29] vivekweb2013 commented on #59
@tallship yes I agree with you & I'll take this on priority. thanks

[2022-06-02 05:47] everythingness opened #60 "application is stuck on the login page. unable to login to the application"
**Describe the bug**
After successfully logging in to GitHub, nothing happens. I am just returned to the introduction page.

the URL is https://gitnoter.com/login?success=true but the page is the same as https://gitnoter.com/login

**Expected behavior**
gitnoter asks which respository i want to use

**Please provide browser information:**
 - Browsers firefox, safari
latest versions

[2022-06-02 05:50] vivekweb2013 commented on #60
@everythingness could you please try again. Since the backend server was down for maintenance, now it's up.

[2022-06-02 06:14] everythingness commented on #60
yes still the same problem persists. also 12 hours ago.

[2022-06-03 02:00] cengbrecht opened #61 "Launch GitNoter from PiBox, unable to login to GitHub."
Installed GitNoter from the main KubeSail channel
Launched GitNoter from KubeSail management
Click Login with GitHub

Page stays blank.
![image](https://user-images.githubusercontent.com/1149435/171772068-f7024e59-1b45-4a1a-9910-c0a9b7c6decf.png)
![image](https://user-images.githubusercontent.com/1149435/171772249-7b9531d5-33cb-457a-9691-1c0595e19064.png)

[2022-06-03 07:54] fs111 opened #62 "document how to self-host using docker(-compose)"
It would be great if there was a document describing how to self-host gitnoter using docker. All I could find are the heroku docs, but I would like to avoid using yet another 3rd party service. One can probably piece things together from the heroku docs, yet it would be nice to have a document how to self-host w/o heroku.

[2022-06-04 05:32] Eloco opened #63 "support other language like chinese would be better"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

the folder and file name which contains chinese cant show in the web note.

[2022-06-04 05:46] vivekweb2013 commented on #63
Hi @Eloco Thanks for opening the issue. I'll work on allowing notes/folders named in Chinese to be shown.

[2022-06-04 17:57] vivekweb2013 commented on #58
Thanks @src-hyc for implementing this feature.  I've merged the PR and changes are live. I've tested it by enabling dark scheme using chrome's developer console as mentioned in this [SO Post](https://stackoverflow.com/a/59223868/814548)

Your changes are fine. It just that we will need to change some of the inline stylings to allow visibility of mui components in the dark mode. For example - the n

[2022-06-04 20:44] src-hyc commented on #58
Hello @vivekweb2013, thanks for your feedback! I'm quite interested in fixing the issue, but I don't think the website is working right now: it keeps asking me to login, and doesn't show me the page to control notes. I tried self-hosting too, and the website was keeping loading after I clicked the login button. It would be much easier for me to fix the issue if I can view the website.

I also had

[2022-06-05 07:01] vivekweb2013 commented on #58
@src-hyc Are you using incognito mode in chrome? If yes please do not use the incognito mode. Also make sure that the browser is not blocking third party cookies since they are used for authentication

<img width="282" alt="image" src="https://user-images.githubusercontent.com/7036736/172039429-f48b80c0-0b2f-4c9c-87bb-6d541147e924.png">

Let me know if you still getting the issue.

[2022-06-05 07:02] vivekweb2013 commented on #60
@everythingness Are you using incognito mode in chrome? If yes please do not use the incognito mode. Also make sure that the browser is not blocking third party cookies since they are used for authentication

<img width="282" alt="image" src="https://user-images.githubusercontent.com/7036736/172039429-f48b80c0-0b2f-4c9c-87bb-6d541147e924.png">
In the chrome setting make sure above is unchecked

Le

[2022-06-05 07:08] src-hyc commented on #58
Hello @vivekweb2013, yes, I was using private mode (Safari version incognito mode). I switched to the normal mode but still having the issue.

<img width="1264" alt="Screen Shot 2022-06-05 at 2 06 21" src="https://user-images.githubusercontent.com/100218098/172039630-e6cdb8ac-5d3c-4b9a-9a65-a2d80c6c79f5.png">

It seems to be related to CORS, and we may need to open another issue in the backend rep

[2022-06-05 07:36] vivekweb2013 commented on #58
@src-hyc oh I see. I think there is some issue with safari. I'm investigating it. Meanwhile  could you please try chrome. Its working on chrome.

BTW those errors issues are not the problem. Since they are only related to the youtube video.

[2022-06-05 07:46] vivekweb2013 commented on #60
If you are using Safari please uncheck `Prevent cross-site tracking` under `Safari > Preferences > Privacy`
<img width="815" alt="image" src="https://user-images.githubusercontent.com/7036736/172040765-64cd0186-8c90-4496-b024-1371f1b64efc.png">

I'm working on implementing a proper fix for this but for now just uncheck the `Prevent cross-site tracking` in safari

[2022-06-05 10:15] spartan4cs opened #65 "Text input elements from editor are not visible in dark mode"
**Describe the bug**
Dark theme is  giving a problem. add the option to change back to light

**Screenshots**
![image](https://user-images.githubusercontent.com/23625985/172045716-8df679da-9efc-457d-97b7-fe6b2b52f2d3.png)

**Please provide browser information:**
chrome

[2022-06-05 11:51] everythingness commented on #60
ah thanks for the workaround! it works now :)

On 5 Jun 2022, at 9:46, vivekweb2013 wrote:

[2022-06-05 12:06] vivekweb2013 commented on #60
@everythingness thanks for confirming :)

[2022-06-05 12:06] #60 closed

[2022-06-05 16:47] #65 closed

[2022-06-05 17:09] vivekweb2013 commented on #65
@src-hyc thanks so much. It looks pretty good now 👍

@spartan4cs Hope this works for you!

[2022-06-05 17:30] src-hyc commented on #58
So according to #66, can this issue be closed right now? @vivekweb2013

[2022-06-05 17:35] vivekweb2013 commented on #58
yes. closing this

[2022-06-05 17:35] #58 closed

[2022-06-05 20:58] vivekweb2013 opened #67 "Fix markdown editor/viewer styling to match with the dark theme"
**Describe the bug**
The markdown editor/editor is not a mui component so the dark mode is not applied to the markdown views

[2022-06-05 21:03] vivekweb2013 commented on #67
Fixed with commit 01a4fa849bb735bed2dfc0f20cc8c09d977f1118

[2022-06-05 21:03] #67 closed

[2022-06-06 03:25] vivekweb2013 opened #68 "Fix blockquote and table from markdown view to support dark mode"
**Describe the bug**
The blockquote and table element from markdown view are not looking good in dark mode

**Screenshots**
<img width="578" alt="image" src="https://user-images.githubusercontent.com/7036736/172089443-2d0af956-db9e-43ff-806f-481802d7878c.png">

[2022-06-06 12:21] chrispratl commented on #57
That‘s the same as #59 I think? For duplicate organization…

[2022-06-06 15:45] cengbrecht commented on #61
Just an update.
The link still has not changed, did a full reinstall of the Pi-Box to make sure that wasn't the issue.
https://gitnoter.customsubdomainnameforkubesailremote.use1.k8g8.com/api/v1/oauth2/login/github

[2022-06-07 01:48] cengbrecht commented on #61
Am I the only one experiencing this?
I have tried opening ports, accessing it directly.
I don't have any more ideas.

[2022-06-07 02:47] vivekweb2013 commented on #61
Hey @cengbrecht. Thanks for opening the issue. I'm a bit busy with my other work but I'll for sure take a look at this when I get some free time.

[2022-06-07 02:56] cengbrecht commented on #61
I apologize for complaining, I am very interested in this particular project, as I have wanted a good note taking app without the overhead of say NextCloud.
Assuming its an issue with my setup, what is the method for the auth? Is there a way to trick it?
Do I need to forward ports?
Is there something I could try, or document for you so that testing later will be easier?

For reference, my network

[2022-06-07 03:12] vivekweb2013 commented on #61
@cengbrecht I don't think the issue is with your setup. I'm not sure how KubeSail deploys the application. I'll have to spend some time digging into it. I'll create a documentation for KubeSail deployment if it needs additional configuration specifically for KubeSail deployment.

[2022-06-07 03:33] cengbrecht commented on #61
If I can help, let me know.
I appreciate what this app can do, so I really hope to get it working. :)

[2022-06-07 04:07] cengbrecht commented on #61
Running through some more tests, the KubeSail guys made a recommendation.
I was watching the http logs for the pages, nothing seems to be wrong there, I am getting 304 replies, so no changes.
And 200 meaning success.
From what I can tell it seems to be a malformed API request for the OAuth.
Not sure, just throwing out what information I do have. :)

`10.42.0.43 - - [07/Jun/2022:04:03:14 +0000] "GE

[2022-06-07 04:10] cengbrecht commented on #61
[code]

[2022-06-07 06:13] vivekweb2013 commented on #68
Thanks for the contribution @umaxyon

[2022-06-07 06:21] #68 closed

[2022-06-07 08:21] Saul-Mirone opened #70 "Provide more editor choices."
**Is your feature request related to a problem? Please describe.**
Markdown syntax sometimes can be confusing and not so friendly for all users.

**Describe the solution you'd like**
Maybe consider to provide more editors, such as a WYSIWYG markdown editor such as [milkdown](https://milkdown.dev/), a side to side markdown editor such as [tui-editor](https://ui.toast.com/tui-editor).

[2022-06-08 04:52] vivekweb2013 commented on #49
Done

[2022-06-08 04:52] #49 closed

[2022-06-09 20:17] spartan4cs opened #73 "Search feature for notes created"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I want a quick search my notes

[2022-06-12 09:02] vivekweb2013 opened #74 "Use GIF instead of youtube video on the login page to demo the application"
Received feedback from users saying youtube video on login page looks ugly

So its better to use the simple GIF instead that demonstrates the features of the application.

[2022-06-12 09:02] vivekweb2013 commented on #74
Done

[2022-06-12 09:02] #74 closed

[2022-06-12 09:03] vivekweb2013 opened #75 "On menu bar, add a link to github repo"

[2022-06-12 11:35] vivekweb2013 opened #76 "Provide a toggle button on the menu bar to toggle dark mode"
Currently the dark mode is applied only if it is set for the operating system or browser.
I think there should be an application specific toggle button which will allow users to turn on/off dark mode.

By default the toggle mode should be initialised as per the system setting. i.e. if the system/browser is set to light/dark mode then toggle button should be initialised with the same mode. But when

[2022-06-12 14:26] vivekweb2013 opened #77 "404 image is not showing for nested paths"
**Describe the bug**
The png graphic is showing correctly for 404 route only for the first level path. i.e `https://batnoter.com/abc` but it is not showing up for nested path i.e. `https://batnoter.com/abc/xyz`

**Screenshots**
<img width="1033" alt="image" src="https://user-images.githubusercontent.com/7036736/173237910-e48b7db1-6c60-4bee-a674-3f21de709da8.png">

[2022-06-12 16:50] vivekweb2013 opened #78 "Configure proxy for development mode to allow same-site strict cookies"
The proxy is required for local setup after this changes to API server - https://github.com/batnoter/batnoter-api/issues/13

Since localhost can not make use of subdomain to allow same site strict cookies we will need to setup the proxy.

[2022-06-12 17:35] shikhar13012001 commented on #77
Hi @vivekweb2013 I would like to work on this issue, sorry I have had previous academic related issues going on for a while.

[2022-06-12 17:41] #75 closed

[2022-06-12 17:42] vivekweb2013 commented on #75
Thanks @fduschka for the contribution 👍

[2022-06-12 17:43] vivekweb2013 commented on #78
Done

[2022-06-12 17:43] #78 closed

[2022-06-12 17:44] vivekweb2013 commented on #77
sure @shikhar13012001

Let me share my analysis. It looks like it is only happening on the github pages not sure why. On local setup the image is showing properly even for the nested paths

[2022-06-12 17:49] vivekweb2013 commented on #60
Hi @everythingness This issue is now fixed with the use of api subdomain. So now there is no need for changing the browser setting. Please revert the browser preferences to default and let me know if you still encounter this issue.

[2022-06-12 17:51] shikhar13012001 commented on #77
May be changing the image path to web url should fix this issue. https://i.ibb.co/wprRPLF/404.png

[2022-06-12 17:54] vivekweb2013 commented on #77
@shikhar13012001 that would not be a nice fix. I'd like the resources to be served from same site rather than using external site urls. Since it will introduce a dependency on this external site

[2022-06-12 17:57] shikhar13012001 commented on #77
okay I understand, I will try to work on this issue.

[2022-06-12 18:25] vivekweb2013 opened #80 "Hide the menu bar labels on smaller screen resolutions"
On smaller screens (resolution < 900px)
- [x] The labels of the links present on menu bar should be hidden

Helpful links:
- https://mui.com/system/display/#hiding-elements
- https://mui.com/material-ui/customization/breakpoints/#default-breakpoints

[2022-06-12 18:32] nerdjfpb commented on #80
Hi @vivekweb2013 I'm new to this codebase, but I'm interested to take this.

Can you assign this to me?

Thanks!

[2022-06-12 18:35] vivekweb2013 commented on #80
Hi @nerdjfpb Sure 👍

[2022-06-12 18:52] vivekweb2013 opened #81 "Create a new vector icon"
The current icon does not look good. This project needs a different icon. Since I'm not an expert on designing icons/vector images I'd really appreciate if experienced contribute to this issue.

Since the project is getting popular it would be great if it has a suitable icon that will make a good first impression.

The icon could be a combination of
- bat 🦇 (Mandatory)
- notes
- git

I'm open for

[2022-06-12 19:02] nerdjfpb commented on #80
![Mobile view](https://user-images.githubusercontent.com/47062625/173249130-1664c356-4866-4a72-b1d9-15d720cb7ffb.png)

Is this looking good? Do I need to change the login part too? @vivekweb2013

[2022-06-12 19:06] vivekweb2013 commented on #80
@nerdjfpb this looks good to me 👍 Do apply this change to login button.

BTW there is one more link `create note` that is visible on login. Please check if its included in this change.

[2022-06-13 10:20] #80 closed

[2022-06-13 19:21] depesr opened #83 "GPG encryption"
**Is your feature request related to a problem? Please describe.**
nope

**Describe the solution you'd like**
Hey guys, would you consider adding a possibility to encrypt notes with user's gpg key?
So once you have gpg installed, you just set a username from gpg keychain will be used.
Then before saving, a command `gpg -e -r USERNAME filename` will run to encrypt a file.

So nobody could read my n

[2022-06-13 20:53] shikhar13012001 commented on #77
hmm.. It seems like path is actually ```../static/images/404...png```, But I still don't know why is this happening.

[2022-06-14 02:19] vivekweb2013 commented on #77
@shikhar13012001 yeah this is strange

[2022-06-14 02:24] vivekweb2013 commented on #83
@depesr that a nice idea. I'd look into it. I think I can add this functionality. It could take time as I will need build the UI, Backend & Schema to support storing and using gpg keys.

[2022-06-14 17:23] vivekweb2013 commented on #76
Done ✅

[2022-06-14 17:23] #76 closed

[2022-06-14 18:07] spartan4cs commented on #76
Thanks

[2022-06-14 19:48] spartan4cs opened #85 "Ability to paste screenshot in markdown text"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i want to take the screenshot and paste in markdown

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
i want to take the screenshot and paste in markdown
when i paste, it should create asset folder and upload that screenshot with some name and
it should use

[2022-06-14 19:57] fduschka commented on #85
A private Note Repository would lead to the image not being able to load because GitHub would return 401!

Technically, this could be fixed by adding a route for assets which downloads the images using the auth token and then serves them to the editor.

[2022-06-15 05:20] spartan4cs opened #86 "Some of public repository is not visible"
**Describe the bug**
A clear and concise description of what the bug is.
I am not able to see the some of public repo for which  i want to create notes

[2022-06-15 06:00] vivekweb2013 commented on #86
@spartan4cs is the repository present in your user account or within the organisation?

[2022-06-15 06:24] fduschka commented on #86
I am having the same problem!
I think what causes the issue is that the api is only returning the first 30 Repositories.

[2022-06-15 06:33] vivekweb2013 commented on #86
@fduschka yes you are right. I'll need to update the api endpoint to return all the available repositories.

[2022-06-15 19:06] shikhar13012001 commented on #77
@vivekweb2013  Did you find a solution to it? I think the raw github url is only possibility here :(

[2022-06-16 02:53] vivekweb2013 commented on #77
@shikhar13012001 I did not get enough time to look at this issue but for now I think we can place the 404 image in `public/images` directory and hardcode the absolute root path i.e. `/images/404.png`

I think this will work because of the absolute path. So we can make these changes for now

[2022-06-16 07:29] pil-in-a opened #87 "Code blocks inside list item is not shown properly in dark mode"
**Describe the bug**
Code blocks are shown differently, if they are in list. Which is problem, since the ones in the list are not readable in dark mode.

**To Reproduce**
example MD:

`single tick in-line code`
[code]
- `single tick inline code in list`
- ``` triple tick code in list ```

It looks like this:
![image](https://user-images.githubusercontent.com/95473349/174016008-d9ec224b-3552-4b8d-8

[2022-06-16 15:15] #87 closed

[2022-06-16 17:48] vivekweb2013 commented on #77
@shikhar13012001 seems like the issue was cased by `homepage: "."` property set in `package.json` file. Removing it fixed the issue.

[2022-06-16 17:49] shikhar13012001 commented on #77
Ohh thanks!! I didn't notice this.

[2022-06-16 17:59] vivekweb2013 commented on #77
Fixed

[2022-06-16 17:59] #77 closed

[2022-06-17 05:50] vivekweb2013 opened #89 "Cancel button on confirmation dialog is not showing properly in dark mode"
**Describe the bug**
When you click on note delete button there is a confirmation dialog shown which contains a cancel button. This cancel button does not look good in dark mode.

**To Reproduce**
Steps to reproduce the bug:
1. Click on the delete button of the note

**Expected behavior**
Cancel button should match the dark mode theme

**Screenshots**
<img width="475" alt="image" src="https://user

[2022-06-17 06:02] #89 closed

[2022-06-18 16:18] vivekweb2013 opened #91 "Add sponsor link on the menu"

[2022-06-18 16:33] #91 closed

[2022-06-26 10:59] mskr commented on #81
Hi, I have made a first version.

So far only the bat, that was mandatory ;)

Looking forward to your feedback.

![batnoter-round](https://user-images.githubusercontent.com/10597783/175811023-bc1d7b2d-4053-4049-8423-dece864828e7.svg)

[2022-06-26 12:10] vivekweb2013 commented on #81
WOW 😄  looks good to me 👍 . Thanks @mskr
I'm looking forward to the further updates 🚀

[2022-06-26 12:27] 2002siranush commented on #81
It needs a little clarification, everything else is fine

[2022-06-26 15:20] mskr commented on #81
Yeah on second look it is hard to recognize.

@2002siranush It is a bat hanging upside down, with folded wings.

Maybe some shading (or even color) will help...

[2022-06-29 03:51] NoctuG opened #94 "Login failed"
**Describe the bug**
disabled to login with Github

**To Reproduce**
Steps to reproduce the bug:
1.  Fork the repo and go to CloidFlare Page
2. Click on 'Develop Settings , set step:
[code]
Publish directory: build
Base directory:Not set
4. See error : open the page developed (no errors occur during process) and click Login.
Then the page shows : Whooops!
Sorry, the Page you are looking for does n

[2022-06-29 06:45] cocoonkid commented on #57
+1

[2022-06-29 15:14] #94 closed

[2022-06-30 00:34] NoctuG opened #95 "Seeking clear deployment instructions"
Hello Author: I'd like to say that I'm taking a long time to find the right steps for deployment - is it fork this repository and use the gh-page branch, or is it deploy on the server using Dockerfile? I hope you can give me a brief idea, I'm really confused about this. Thanks!

[2022-06-30 06:03] vivekweb2013 commented on #95
Duplicate of https://github.com/batnoter/batnoter/issues/62

[2022-06-30 06:05] vivekweb2013 commented on #95
@NoctuG I'm currently busy, When I get some time I'll document the the steps to deploy the application using docker

[2022-07-25 00:11] mskr opened #96 "Stay logged in"
The web app returns to a logged out state after some days (?) of inactivity.

I have installed it as PWA, but the issue the same with browser tabs.

However especially in case of an installed PWA, users expect to stay logged in, as for example in their various social media apps. It is annoying to have to log in again every other day.

A solution could be using local storage (or similar) to store a

[2022-08-15 06:43] fyenne opened #97 "how to deploy on remote server?"
hi, thank you for sharing this awesome notes app to us.
I' m some kind of rookie here, so I wonder how can I deploy this on my personal remote server, say ubuntu. I run "npm start" after clone and install on my ubuntu. and the localhost:3000 is ok, I can use another machine to visit via $my ubuntu's ip:3000$. the problem is, when I try to login via github on $my ubuntu's ip:3000$, it fails, fall b

[2022-08-26 08:55] raguay commented on #86
I'm having the same issue. At least return the repositories that have been updated more recently. I have way over 30 repositories and I can't get it to take my note one. You could also see the notes repository is available and ask to use it.

[2022-09-30 15:10] WilsonLe opened #98 "Add .nvmrc to ensure correct node version is used"
This is not a problem, just an enchancement for future contributors. The README specifies to use Node18 or above. We can programatically ensure that future contributor is always using the correct Node version.

I would like to add a `.nvmrc` file for future contributor to match this Node version just by using `nvm use` (assuming they use nvm for Node)

[2022-10-01 05:38] vivekweb2013 commented on #98
@WilsonLe Thats a good idea. Please raise a PR for this.

[2022-10-01 08:12] #98 closed